
$cyan: hsl(172, 67%, 45%);

$dark-cyan: hsl(183, 100%, 15%);
$darkest-grayish-cyan : hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$lightest-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$font-size-inputs : 24px;

$mono-font: 'Space Mono', monospace;

$reg: 400;
$bold: 500;
$bolder: 700;

.header {
  display: flex;
  justify-content: center;
  background-color: $light-grayish-cyan;
  color: $darkest-grayish-cyan;
  height: 200px;
  align-items: center;
  font-family: $mono-font;
  font-weight: $bolder;
  line-height: .5;
}

.card {
  background-color: $White;
  border-radius: 10px 10px 0px 0px;
  font-family: $mono-font;
  p {
    color: $dark-cyan;
  }

  .calculator {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    p {
      align-self: flex-start;
      margin-left: 20px;
    }
  }
}

.bill, .num-people {
  width: 90%;
  margin: auto;
  color:$light-grayish-cyan;
  
  input {
    background-color: $lightest-grayish-cyan;
    padding: 10px;
    width: 90%;
    font-size: $font-size-inputs;
    color: $dark-cyan;
    border: none;
    text-align: right;
    font-weight: $bolder;
    font-family: $mono-font;
    margin-right: 10px;
  }
}

.get-tip {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  .tip-btn {
    background-color: $dark-cyan;
    // padding: 2px;
    width: 190px;
    margin: 10px 5px;
    text-align: center;
    border-radius: 5px;
    p {
      color: $White;
      font-size: $font-size-inputs;
      line-height: .5;
    }
  }

}
