
$cyan: hsl(172, 67%, 45%);

$dark-cyan: hsl(183, 100%, 15%);
$darkest-grayish-cyan : hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$lightest-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$font-size-inputs : 24px;

$mono-font: 'Space Mono', monospace;

$reg: 400;
$bold: 500;
$bolder: 700;
